[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg-python = "*"
pdf2image = "*"
peewee = "*"
peewee-migrate = "*"
python-telegram-bot = "*"
requests = "*"
youtube-dl = "*"

[dev-packages]
fabric = "*"
invocations = "*"
mypy = "*"

[requires]
python_version = "3.7"
